In [1]:
import pandas as pd
usrs = pd.read_csv('user_data.csv')

usrid = 146

usrs

      user_id  current_folder_id
0         145                  1
1         146                  2
2  2113212877                  0
3  1420004659                  0

In [22]:
last_dir_of_user = usrs.loc[usrs['user_id'] == usrid, 'current_folder_id']


last_directory = last_dir_of_user.values[0] 
print(last_directory)

2

In [23]:
msg_df = pd.read_csv('saved_messages_data.csv')
folders_df = pd.read_csv('folders.csv')

saved_msgs = msg_df.loc[msg_df['user_id'] == usrid]
folders = folders_df.loc[folders_df['user_id'] == usrid]

saved_msgs

   message_id  user_id  folder_id
1         333      146          2
2         456      146          1
3         474      146          0

In [32]:
folders_df.head(20)

      user_id  folder_id folder_name  superfolder_id
0         146          0        main             NaN
1         145          0  user space             NaN
2         145          1        sub1             0.0
3         145          2        sub2             0.0
4         146          1      1461mm             2.0
5         146          2      1462ss             0.0
6         146          3     hi im 3             2.0
7  2113212877          0        main             NaN
8  2113212877          1        sub1             0.0
9  2113212877          2        sub1             1.0

In [29]:
folder_content_id = list(saved_msgs.loc[saved_msgs['folder_id'] == last_directory]['message_id'])
folder_content_id

for i in folder_content_id:
    print(i)

333

In [30]:
subfolders = list(folders.loc[folders['superfolder_id'] == last_directory]['folder_id'])

subfolders
for i in subfolders:
    folder_name = folders.loc[folders['folder_id'] == i, 'folder_name'].values[0]
    print(folder_name)

1461mm
hi im 3

In [70]:
folders_df = pd.read_csv('folders.csv')

df = folders_df.loc[(folders_df['folder_name'] == 'sub1') & (folders_df['superfolder_id'] == 1)]


if (df.empty):
    print('empty')

else:
    print(df)
    print('\n')
    print(df.values[0][1])

      user_id  folder_id folder_name  superfolder_id
9  2113212877          2        sub1             1.0


2

In [73]:
folders_df = pd.read_csv('folders.csv')

df = folders_df.loc[(folders_df['user_id'] == 2113212877), 'folder_id'].values

print(df)

x = max(df)
print(x)

[0 1 2]
2

In [13]:
folders_df = pd.read_csv('folders.csv')

df = folders_df.loc[(folders_df['user_id'] == 2113212877)]


df = df.drop(df[df.folder_id == 1].index)

del df
df

NameError: name 'df' is not defined

In [11]:
a = pd.DataFrame({'a':[1,2], 'b':[3,4]})
def letgo(df):
    df = df.drop(df.iloc[df[0]== 0])
letgo(a)

# a = a.drop(a.loc[a['a']== 2])

a

KeyError: 0